xdcchain*
NodeName
subnet/bootnodes.list
subnet/.env
subnet/.env.bootnode
subnet/.env.stats
subnet/genesis.json
subnet/puppeth
subnet/bootnodes/*
subnet/logs
subnet/relayer
subnet/stats-service
subnet/deployment-generator/script/gen.env*
XDC-Subnet
keys.json
node_modules
package-lock.json
generated
*.env
**temp