xdcchain*
NodeName
subnet/bootnodes.list
subnet/.env
subnet/.env.bootnode
subnet/.env.stats
subnet/genesis.json
subnet/puppeth
subnet/bootnodes/*
subnet/logs
subnet/relayer
subnet/stats-service
XDC-Subnet
keys.json
node_modules
subnet/deployment-generator/generated