version: "3.4"

services:
  xinfinnetwork:
    image: xinfinorg/xdposchain:v2.4.2-hotfix
    volumes:
      - "./xdcchain:/work/xdcchain"
      - "./genesis.json:/work/genesis.json"
      - "./start-node.sh:/work/start.sh"
      - "./bootnodes.list:/work/bootnodes.list"
      - "./.pwd:/work/.pwd"
      - "/etc/localtime:/etc/localtime:ro"
    restart: "always"
    env_file:
      - .env
    ports:
      - "30303:30303"
      - "8989:8545"
      - "8888:8546"
