INSTANCE_NAME=YOUR_NODE_NAME
CONTACT_DETAILS=YOUR_EMAIL_ADDRESS
NODE_TYPE=full
NETWORK=mainnet
LOG_LEVEL=2
ENABLE_RPC=false

# RPC API setting
RPC_API=db,eth,net,txpool,web3,XDPoS
RPC_CORS_DOMAIN=*
RPC_ADDR=0.0.0.0
RPC_PORT=8545
RPC_VHOSTS=*

# WebSocket setting
WS_API=db,eth,net,txpool,web3,XDPoS
WS_ADDR=0.0.0.0
WS_ORIGINS=*
WS_PORT=8546
