INSTANCE_NAME=YOUR_NODE_NAME
CONTACT_DETAILS=YOUR_EMAIL_ADDRESS
NODE_TYPE=full
NETWORK=mainnet
LOG_LEVEL=2

# API setting (RPC & WebSocket)
ENABLE_RPC=false
ENABLE_WS=false
API=db,eth,net,txpool,web3,XDPoS
ALLOWED_ORIGINS=*
RPC_VHOSTS=*
RPC_PORT=8545
WS_PORT=8546
