
#subnet config
NETWORK_NAME=localsubnet
NUM_MACHINE=1
NUM_SUBNET=3
MAIN_IP=192.168.1.1

#parentchain config
PARENTCHAIN=devnet
PARENTCHAIN_WALLET_PK=0x1111111111111111111111111111111111111111111111111111111111111111


# OS=mac

#docker image versions, default to stable
# VERSION_SUBNET
# VERSION_BOOTNODE
# VERSION_RELAYER
# VERSION_STATS
# VERSION_FRONTEND
