CONFIG_PATH=${PWD}

#genesis config
NETWORK_NAME=testsubnet
NUM_MACHINE=3
NUM_SUBNET=5
MAIN_IP=192.168.1.1

#deployment config
#default testnet
PARENTCHAIN=     
#shared or self
PARENTCHAIN_OBSERVER_MODE=
PARENTCHAIN_URL=
PARENTCHAIN_WALLET=0x0000000000000000000000000000000000000000
PARENTCHAIN_WALLET_PK=0x0000000000000000000000000000000000000000000000000000000000000000

#docker image versions
# VERSION_SUBNET      #default stable setup
# VERSION_BOOTNODE
# VERSION_OBSERVER
# VERSION_RELAYER
# VERSION_STATS
# VERSION_FRONTEND