EXTIP=xxx.xxx.xxx.xxx # Your host external IP address. This is useful if you want the node to be discoveryed outside of your local network.
NET_RESTRICTING="172.16.254.0/24" # This restrict p2p connectivity to an IP subnet. It will further isolate the network and prevents cross-connecting with other blockchain networks in case the nodes are reachable from the Internet.