#your current directory
CONFIG_PATH=~/XinFin-Node/subnet/deployment-generator

#genesis config
NETWORK_NAME=testsubnet
NUM_MACHINE=3
NUM_SUBNET=5
MAIN_IP=192.168.1.1

#parentchain config
PARENTCHAIN=devnet
PARENTCHAIN_WALLET=0x0000000000000000000000000000000000000000
PARENTCHAIN_WALLET_PK=0x0000000000000000000000000000000000000000000000000000000000000000

#docker image versions, default to stable
# VERSION_SUBNET
# VERSION_BOOTNODE
# VERSION_OBSERVER
# VERSION_RELAYER
# VERSION_STATS
# VERSION_FRONTEND