services:
  xinfinnetwork:
    container_name: xdcnetwork-testnet-node
    image: xinfinorg/xdposchain:v2.6.7-testnet
    volumes:
      - "./xdcchain-testnet:/work/xdcchain"
      - "./start-apothem.sh:/work/start.sh"
    restart: "always"
    env_file: .env
    network_mode: "host"
