version: "3.4"

services:
  xinfinnetwork:
    image: xinfinorg/xdposchain:v2.6.0-beta
    volumes:
      - "./xdcchain-testnet:/work/xdcchain"
      - "./start-apothem.sh:/work/start.sh"
    restart: "always"
    env_file: .env
    network_mode: "host"
