NODE_NAME=XF_MasterNode
CONTACT_DETAILS=YOUR_EMAIL_ADDRESS
NETWORK=testnet
LOG_LEVEL=2

# Sync & storage
# SYNC_MODE: full
SYNC_MODE=full
# GC_MODE: archive (default, keeps all historical state) or full (prunes old state to save disk)
GC_MODE=full

# API setting (RPC & WebSocket)
ENABLE_RPC=false
ENABLE_WS=false
API=db,eth,net,txpool,web3,XDPoS
ALLOWED_ORIGINS=*
RPC_VHOSTS=*
RPC_PORT=8545
WS_PORT=8546
