name: XDC

include:
  - ./../observability/dozzle.yaml
services:
  xinfinnetwork1:
    build:
        context: .
        dockerfile: ./Dockerfile
    volumes:
      - "./xdcchain-1:/work/xdcchain"
      - "./genesis.json:/work/genesis.json"
      - "./start.sh:/work/start.sh"
      - "./bootnodes.list:/work/bootnodes.list"
      - "./.pwd:/work/.pwd"
      - "/etc/localtime:/etc/localtime:ro"
    restart: "always"
    env_file: "./.env"
    ports:
      - "30303:30303"
      - "8545:8545"
      - "8555:8555"
